function Main.main 1
    push constant 10
    call Counter.new 1
    pop local 0
    push local 0
    call Counter.inc 1
    pop temp 0
    push local 0
    call Counter.inc 1
    pop temp 0
    push local 0
    call Counter.get 1
    call Output.printInt 1
    pop temp 0
    push constant 0
    return