.split-pane {
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.pane {
    height: 100%;
    overflow: hidden;
}

.resizer {
    width: 4px;
    background-color: #333;
    cursor: col-resize;
    transition: background-color 0.2s;
    z-index: 10;
}

.resizer:hover,
.resizer:active {
    background-color: #007acc;
}